body {
	margin  : 0;
	overflow: hidden scroll;
}

input {
	display: none;
}

.available-view {
	display    : none;
	font       : 3vw/100vh Verdana, Geneva, Tahoma, sans-serif;
	text-align : center;
	text-shadow: 0.2vw 0.2vw lightsteelblue;
	width      : 100vw;
}

.demonstration-website {
	height  : 75vw;
	position: relative;
	width   : 100vw;
}

.control-panel {
	align-items    : center;
	display        : flex;
	flex-direction : column;
	justify-content: center;
	left           : 20px;
	padding        : 0 10px;
	position       : absolute;
	top            : 200px;
	z-index        : 1;
	border-radius  : 40px;
}

.control-panel__item,
.info-icon_open,
.info-icon_close {
	background-position: center;
	background-repeat  : no-repeat;
	background-size    : 75%;
	cursor             : pointer;
	display            : block;
	height             : 60px;
	margin-bottom      : 25px;
	width              : 60px;
	border-radius      : 50%;
}

.control-panel__item:first-child {
	margin-top: 25px;
}

.control-panel__item:hover {
	box-shadow: 0 0 33px -7px #e4fedc, inset 0 0 33px -10px #e4fedc !important;
	transform : scale(1.1) !important;
}

.control-panel__item_mobile {
	background-image: url(icon/mobile.svg);
}

.control-panel__item_tablet {
	background-image: url(icon/tablet.svg);
}

.control-panel__item_tablet-album {
	background-image: url(icon/tablethorizontal.svg);
}

.control-panel__item_desktop {
	background-image: url(icon/desktop.svg);
	height          : 75px;
	width           : 75px;
}

.control-panel__item_resize {
	background-image: url(icon/arrows.svg);
}

.opensite {
	background-image: url(icon/link.svg);
	display         : block;
}

.about-site {
	background-color: transparent;
	right           : 7%;
	position        : absolute;
	top             : 18.5%;
	z-index         : 99;
}

.info-button {
	position: absolute;
	top     : -65px;
	right   : -65px;
}

.info-icon {
	position: absolute;
}

.info-icon_open {
	background-image: url(icon/info-icon.svg);
	transform       : rotateY(0);
	transition      : all 0.5s;
}

.info-icon_close {
	background-image: url(icon/cross.svg);
	transform       : rotateX(90deg);
	transition      : all 0.5s;

}

.about-site__description {
	background-color       : #f9fef7;
	box-shadow             : 13px 11px 27px -3px black;
	border-radius          : 10px;
	border-top-right-radius: 0;
	font                   : 19px/25px Verdana, Tahoma, sans-serif;
	margin                 : 0;
	list-style             : inside;
	list-style-type        : circle;
	padding                : 16px 10px;
	transform              : perspective(1000px) rotateY(-90deg) scale3d(2, 1.5, 1);
	transition             : all 0.5s ease-in;
	transform-origin       : right;
	width                  : 30vw;
}

.about-site__description li {
	margin-bottom: 10px;
}

#view-descriptions_lmarkt:checked~.demonstration-website_lmarkt .about-site__description {
	transform: perspective(1000px) rotateY(0deg) scaleX(1);
}

#view-descriptions_lmarkt:checked~.demonstration-website_lmarkt .info-icon_open {
	transform: rotateY(-90deg);
}

#view-descriptions_lmarkt:checked~.demonstration-website_lmarkt .info-icon_close {
	transform: rotateX(0deg);
}

/* checked info russgaz */
#view-descriptions_russgaz:checked~.demonstration-website_russgaz .about-site__description {
	transform: perspective(1000px) rotateY(0deg) scaleX(1);
}

#view-descriptions_russgaz:checked~.demonstration-website_russgaz .info-icon_open {
	transform: rotateY(-90deg);
}

#view-descriptions_russgaz:checked~.demonstration-website_russgaz .info-icon_close {
	transform: rotateX(0deg);
}

/* checked info kvast */
#view-descriptions_kvast:checked~.demonstration-website_kvast .about-site__description {
	transform: perspective(1000px) rotateY(0deg) scaleX(1);
}

#view-descriptions_kvast:checked~.demonstration-website_kvast .info-icon_open {
	transform: rotateY(-90deg);
}

#view-descriptions_kvast:checked~.demonstration-website_kvast .info-icon_close {
	transform: rotateX(0deg);
}

.mobile-wrapper,
.tablet-wrapper,
.tablet-wrapper-album,
.desktop-wrapper,
.resize-wrapper {
	background-size    : cover;
	background-position: center;
	background-repeat  : no-repeat;
	display            : none;
	margin             : 0 auto;
	position           : relative;
}

.mobile-wrapper,
.desktop-wrapper {
	filter: drop-shadow(2px 4px 5px black);
}

.tablet-wrapper,
.tablet-wrapper-album {
	filter: drop-shadow(2px 4px 14px black);
}

.resize-wrapper_lmarkt {
	animation-name: autoresize-untill_1500;
}

#lmarkt-for-mobile:checked~.demonstration-website .mobile-wrapper_lmarkt {
	display: block;
}

#lmarkt-for-tablet:checked~.demonstration-website .tablet-wrapper_lmarkt {
	display: block;
}

#lmarkt-for-tablet-album:checked~.demonstration-website .tablet-wrapper-album_lmarkt {
	display: block;
}

#lmarkt-for-desktop:checked~.demonstration-website .desktop-wrapper_lmarkt {
	display: block;
}

#lmarkt-resize:checked~.demonstration-website .resize-wrapper_lmarkt {
	display: block;
}

iframe {
	background-color: #fff;
	position        : absolute;
}

.mobile-wrapper {
	background-image: url(img/iphone.png);
	height          : 775px;
	transform       : translateY(10%);
	width           : 387px;
}

.mobile-view {
	height: 568px;
	left  : 9.1%;
	top   : 13.4%;
	width : 320px;
}

.tablet-wrapper {
	background-image: url(img/ipad.png);
	height          : 1278px;
	transform       : scale(0.7) translateY(-20%);
	width           : 863px;
}

.tablet-view {
	height: 1024px;
	left  : 5.6%;
	top   : 9.9%;
	width : 768px;
}

.tablet-wrapper-album {
	background-image: url(img/ipad_album.png);
	height          : 863px;
	transform       : scale(0.8);
	width           : 1278px;
}

.tablet-view-album {
	height: 768px;
	left  : 9.9%;
	top   : 5.6%;
	width : 1024px;
}

.desktop-wrapper {
	background-image: url(img/imac.png);
	height          : 1563px;
	transform       : scale(0.65) translateY(-29%);
	width           : 1718px;
}

.desktop-view {
	height: 925px;
	left  : 2.6%;
	top   : 8.6%;
	width : 1600px;
}

.resize-wrapper {
	animation-duration       : 10s;
	animation-iteration-count: infinite;
	animation-delay          : 0s;
	animation-timing-function: steps(2, start);
	box-shadow               : 0 0 114px 23px #eeffff;
}

.resize-view {
	height: 100%;
	width : 100%;
}

@keyframes autoresize-untill_1500 {
	0% {
		height: 568px;
		width : 320px;
	}

	50% {
		height: 1024px;
		width : 1500px;
	}

	100% {
		height: 568px;
		width : 320px;
	}

}

@keyframes autoresize-untill_1920 {
	0% {
		height: 568px;
		width : 320px;
	}

	50% {
		transform: scale(0.7) translate(-12%, -10%);
		height   : 1024px;
		width    : 1920px;
	}

	100% {
		height: 568px;
		width : 320px;
	}
}

.resize-wrapper_russgaz {
	animation-name: autoresize-untill_1920;
}

#russgaz-for-mobile:checked~.demonstration-website .mobile-wrapper_russgaz {
	display: block;
}

#russgaz-for-tablet:checked~.demonstration-website .tablet-wrapper_russgaz {
	display: block;
}

#russgaz-for-tablet-album:checked~.demonstration-website .tablet-wrapper-album_russgaz {
	display: block;
}

#russgaz-for-desktop:checked~.demonstration-website .desktop-wrapper_russgaz {
	display: block;
}

#russgaz-resize:checked~.demonstration-website .resize-wrapper_russgaz {
	display: block;
}

.desktop-wrapper_kvast {
	display: block;
}

@media (max-device-width: 1499px) {
	.demonstration-website {
		display: none;
	}

	.available-view {
		display: block;
	}
}