body {
	margin  : 0;
	overflow: hidden scroll;
}

input {
	display: none;
}

.demonstration-website {
	height  : 100vw;
	position: relative;
	width   : 100vw;
}

.control-panel {
	align-items    : center;
	display        : flex;
	flex-direction : column;
	justify-content: center;
	left           : 0;
	padding        : 0 10px;
	position       : absolute;
	top            : 10%;
}

.demonstration-website__show-site {
	grid-column: 2/3;
}

label,
.btn-autoresize,
.opensite {
	background-position: center;
	background-repeat  : no-repeat;
	background-size    : contain;
	cursor             : pointer;
	display            : block;
	height             : 50px;
	margin-bottom      : 25px;
	width              : 50px;
}

label:hover,
.btn-autoresize:hover,
.opensite:hover {
	opacity: 0.5;
}

label[for="lmarkt-for-mobile"] {
	background-image: url(icon/mobile.svg);
}

label[for="lmarkt-for-tablet"] {
	background-image: url(icon/tablet.svg);
	height          : 60px;
}

label[for="lmarkt-for-tablet-album"] {
	background-image: url(icon/tablethorizontal.svg);
	width           : 60px;
}

label[for="lmarkt-for-desktop"] {
	background-image: url(icon/desktop.svg);
	height          : 75px;
	width           : 75px;
}

label[for="lmarkt-resize"] {
	background-image: url(icon/arrows.svg);
}

.opensite {
	background-image: url(icon/link.svg);
	display         : block;
}

.mobile-wrapper,
.tablet-wrapper,
.tablet-wrapper-album,
.desktop-wrapper,
.resize-wrapper {
	display: none;
}

#lmarkt-for-mobile:checked~.demonstration-website .mobile-wrapper {
	display: block;
}

#lmarkt-for-tablet:checked~.demonstration-website .tablet-wrapper {
	display: block;
}

#lmarkt-for-tablet-album:checked~.demonstration-website .tablet-wrapper-album {
	display: block;
}

#lmarkt-for-desktop:checked~.demonstration-website .desktop-wrapper {
	display: block;
}

#lmarkt-resize:checked~.demonstration-website .resize-wrapper {
	display: block;
}

.mobile-wrapper,
.tablet-wrapper,
.tablet-wrapper-album,
.desktop-wrapper,
.resize-wrapper {
	background-size    : cover;
	background-position: center;
	background-repeat  : no-repeat;
	margin             : 0 auto;
	position           : relative;
}

iframe {
	position: absolute;
}

.mobile-wrapper {
	background-image: url(img/iphone.png);
	height          : 775px;
	transform       : translateY(10%);
	width           : 387px;
}

.mobile-view {
	height: 568px;
	left  : 9.1%;
	top   : 13.4%;
	width : 320px;
}

.tablet-wrapper {
	background-image: url(img/ipad.png);
	height          : 1276px;
	transform       : scale(0.7) translateY(-20%);
	width           : 866px;
}

.tablet-view {
	height: 1024px;
	left  : 5.6%;
	top   : 9.9%;
	width : 768px;
}

.tablet-wrapper-album {
	background-image: url(img/ipad_album.png);
	height          : 866px;
	transform       : scale(0.8);
	width           : 1276px;
}

.tablet-view-album {
	height: 768px;
	left  : 9.9%;
	top   : 5.6%;
	width : 1024px;
}

.desktop-wrapper {
	background-image: url(img/imac.png);
	height          : 1568px;
	transform       : scale(0.65) translateY(-29%);
	width           : 1717px;
}

.desktop-view {
	height: 925px;
	left  : 2.6%;
	top   : 8.6%;
	width : 1600px;
}

.resize-wrapper {
	animation-name           : autoresize;
	animation-duration       : 20s;
	animation-iteration-count: infinite;
	animation-delay          : 0s;
	animation-timing-function: steps(4, start);
}

.resize-view {
	height: 100%;
	width : 100%;
}

@keyframes autoresize {
	0% {
		height: 568px;
		width : 320px;
	}

	50% {
		height: 1024px;
		width : 1500px;
	}

	100% {
		height: 568px;
		width : 320px;
	}

}